In [19]:
import pandas as pandas
data = pandas.read_csv("data/data.csv")
data

          date  count
0   2025-08-19     44
1   2025-08-21     49
2   2025-08-26     45
3   2025-08-28     31
4   2025-09-02     41
5   2025-09-04     40
6   2025-09-09     42
7   2025-09-11     37
8   2025-09-16     33
9   2025-09-18     35
10  2025-09-23     41
11  2025-09-26     37
12  2025-09-30     37
13  2025-10-02     29
14  2025-10-07     45
15  2025-10-14     28
16  2025-10-16     28
17  2025-10-21     36
18  2025-10-23     34
19  2025-10-28     25
20  2025-10-30     22
21  2025-11-04     27
22  2025-11-11     41
23  2025-11-13     19
24  2025-11-18     34
25  2025-11-20     16

In [20]:
class_count = len(data)
class_dates = data["date"].tolist()
class_count, class_dates

(26,
 ['2025-08-19',
  '2025-08-21',
  '2025-08-26',
  '2025-08-28',
  '2025-09-02',
  '2025-09-04',
  '2025-09-09',
  '2025-09-11',
  '2025-09-16',
  '2025-09-18',
  '2025-09-23',
  '2025-09-26',
  '2025-09-30',
  '2025-10-02',
  '2025-10-07',
  '2025-10-14',
  '2025-10-16',
  '2025-10-21',
  '2025-10-23',
  '2025-10-28',
  '2025-10-30',
  '2025-11-04',
  '2025-11-11',
  '2025-11-13',
  '2025-11-18',
  '2025-11-20'])

In [26]:
attend_median = data["count"].median()
attend_median

np.float64(35.5)

In [28]:
attend_high = data.nlargest(3, "count")
attend_low = data.nsmallest(3, "count")
attend_high, attend_low

(          date  count
 1   2025-08-21     49
 2   2025-08-26     45
 14  2025-10-07     45,
           date  count
 25  2025-11-20     16
 23  2025-11-13     19
 20  2025-10-30     22)